$body_font: 'Raleway', sans-serif;
$background_uno: #334885;
$background_dos: #f7f7f7;
$background_header: #0072AE;
$color_text_titulo: #fff;
$color_text_laboratoria : #ea8f0e;
$color_text_p: #989998;
$text_center: center;
$padding: 6%;
$padding_media: 11%;
$padding_footer: 2%;
$width_desktop: 100%;