
.navbar {
  background-color: #0072AE;
}

img {
  width: 3em;
  margin-top: -15%;
  margin-left: 55%;
}

.panel .list-group {
  height: 150vh;
  background-color: #0072AE;
  margin-top: -10%;
  margin-left: -8%;
}


#table {
  margin-top: 5%;
  margin-left: -5%;
}

.td,.tdOne,.tdTwo,.tdThree{
  color: #fff;
  text-align: center;
}

.td {
  background-color: #0072AE;
}

.tdOne {
  background-color: purple;
}

.tdTwo {
  background-color: green;
}

.tdThree {
  background-color: red;
}

#table_two {
  margin-left: 42%;
  margin-top: -56%;
}

/* estilos grafico */
#colchart_diff, #barchart_diff {
  width: 450px;
  height: 250px;
  display: inline-block;
}


.login{
   font-family: 'Josefin Sans', sans-serif;
   background: #f4f4f4; 
   padding:70px 0px;
}

.header{
  text-align:left;
  color:#FFF;
  background-color: #0072AE;
  padding:25px 0px;
}
img{
  margin-left: 9%;
  width: 14%;
  margin-top: -2%;
  display: inline-block;
}
form{
  padding:80px;
}
.header span{
  padding-left: 3%;
}

.inner-form{
  background:#FFF;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4);
}

label{
    font-weight:400;
    font-size:15px;
}

.form-control {
    background-color: #f5f5f5;
    box-shadow: none;
    color: #565656;
    font-size:14px;
    padding:30px 10px;
    margin-bottom:30px;
    border: 1px solid #f1f1f1;
}

.btn{ 
    background: #72d6f5;
    color: #FFF;
    border-radius: 6px;
    margin: 0 auto;
    height: 48px;
    line-height: 38px;
    display: table;
    font-size: 15px;
    width: 100%;
}
#google-sign{
  background-color: #ff6700;
  color: white;
}
.btn:hover{
    background:#FFF;
    border:2px solid #24acb3;
}
