
.navbar {
  background-color: #0072AE;
}

img {
  width: 3em;
  margin-top: -15%;
  margin-left: 55%;
}

.panel .list-group {
  height: 150vh;
  background-color: #0072AE;
  margin-top: -10%;
  margin-left: -8%;
}


#table {
  margin-top: 5%;
  margin-left: -5%;
}

.td,.tdOne,.tdTwo,.tdThree{
  color: #fff;
  text-align: center;
}

.td {
  background-color: #0072AE;
}

.tdOne {
  background-color: purple;
}

.tdTwo {
  background-color: green;
}

.tdThree {
  background-color: red;
}

#table_two {
  margin-left: 42%;
  margin-top: -56%;
}

/* estilos grafico */
#colchart_diff, #barchart_diff {
  width: 450px;
  height: 250px;
  display: inline-block
}
